@use '@/styles/variables' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #{$primary-color};
  --secondary-color: #{$secondary-color};
  --bg-dark: #{$bg-dark};
  --text-primary: #{$text-primary};
  --text-secondary: #{$text-secondary};
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  background: $bg-black;
  color: $text-primary;
  font-family: var(--font-inter), system-ui, -apple-system, sans-serif;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  width: 100%;
}

main {
  overflow-x: hidden;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
  font-weight: 700;
}

p {
  line-height: 1.6;
}

a {
  color: inherit;
  text-decoration: none;
  
  &:hover {
    text-decoration: none;
  }
}

button {
  font-family: inherit;
  cursor: pointer;
  
  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.container {
  max-width: $max-width;
  margin: 0 auto;
  padding: 0 $container-padding-mobile;

  @media (min-width: $tablet-min) {
    padding: 0 $container-padding-tablet;
  }

  @media (min-width: $desktop-min) {
    padding: 0 $container-padding-desktop;
  }

  @media (min-width: $wide) {
    padding: 0 $container-padding-wide;
  }
}

::selection {
  background-color: rgba($primary-color, 0.2);
  color: $primary-color;
}

:focus-visible {
  outline: 2px solid $primary-color;
  outline-offset: 2px;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: $bg-dark;
}

::-webkit-scrollbar-thumb {
  background: $border-gray;
  border-radius: 5px;
  
  &:hover {
    background: $text-secondary;
  }
}
