.footerBackgroundSection {
  background-image: url('/images/footer.png');
  background-color: #011919;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}